.imgHeader {
  position: relative;
    text-align: center;
    color: white;
    max-width: 10%;
} 
centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white
  
}

centeredTwp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}